/* Default Chart Styles */
.chart {
}

svg {
  stroke: #06c;
  fill: #9cf;
}

text {
  stroke: none;
  fill: #000;
  font: 12px sans-serif;
}

/* Transparent overlay for interactive tools */
.overlay {
  stroke-width: 0px;
  fill-opacity: 0;
}

.background {
  stroke: #eee;
  fill: #fefefe;
}

/* Chart Defaults */
.sparkline .line {
  stroke: #999;
}
.sparkline .open, .sparkline .close {
  fill: black;
  stroke-opacity: 0;
}

.sparkline .high {
  fill: green;
  stroke-opacity: 0;
}

.sparkline .low {
  fill: red;
  stroke-opacity: 0;
}

.legend {
  border: 1px solid #999;
  border-collapse: separate;
}

.tooltip.cell {
  dominant-baseline: hanging;
}

.plot-area {
  overflow: hidden;
}

.y-axis .label,
.x-axis .label,
.title .label {
  text-anchor: middle;
}

.y-axis.right .label,
.x-axis.top .label,
.y-axis.left .label,
.title .label {
  dominant-baseline: text-before-edge;
}

.x-axis.bottom .label {
  dominant-baseline: middle;
}

.cartesian-chart, .multiples-chart {
  overflow: visible;
  /* see: https://github.com/ScottLogic/d3fc/issues/779 */
  vertical-align: middle;
}

.multiples-chart .label {
  dominant-baseline: text-before-edge;
  text-anchor: middle;
}

.multiples-chart .background {
  stroke: transparent;
  fill: transparent;
}

.legendCells .swatch {
  stroke-width: 0;
}

/* Axis */
.domain,
.tick line,
.tick path {
  fill: none;
  stroke-width: 1.0;
  stroke: #bbb;
}

.tick.orient-bottom text,
.tick.orient-top text {
  text-anchor: middle;
}

.tick.orient-left text {
  text-anchor: end;
}

.tick.orient-right text {
  text-anchor: start;
}

/* Series Type Defaults */
.candlestick, .waterfall {
  stroke: #000;
}
.candlestick.down, .waterfall.down {
  fill: #c60;
}
.candlestick.up, .waterfall.up {
  fill: #6c0;
}

.ohlc {
  stroke: #000;
}
.ohlc.down {
  stroke: #c60;
}
.ohlc.up {
  stroke: #6c0;
}

.multi:nth-child(8n+2), .stacked:nth-child(8n+2) {
  stroke: #60c;
  fill: #c9f;
}

.multi:nth-child(8n+3), .stacked:nth-child(8n+3) {
  stroke: #0c0;
  fill: #9f9;
}

.multi:nth-child(8n+4), .stacked:nth-child(8n+4) {
  stroke: #c00;
  fill: #f99;
}

.multi:nth-child(8n+5), .stacked:nth-child(8n+5) {
  stroke: #00c;
  fill: #99f;
}

.multi:nth-child(8n+6), .stacked:nth-child(8n+6) {
  stroke: #cc6;
  fill: #ff9;
}

.multi:nth-child(8n+7), .stacked:nth-child(8n+7) {
  stroke: #c0c;
  fill: #f9f;
}

.multi:nth-child(8n), .stacked:nth-child(8n) {
  stroke: #c60;
  fill: #fc9;
}

.area {
  stroke-opacity: 0.0;
}

.line {
  fill-opacity: 0.0;
}

/* Indicators */
.macd-divergence .bar {
  stroke: grey;
  fill: grey;
  fill-opacity: 1.0;
}

.macd-signal .line {
  stroke: red;
}

.macd .line {
  stroke: #06c;
}

.stochastic-d .line {
  stroke: red;
}

.stochastic-k .line {
  stroke: #06c;
}

.bollinger .area {
  fill: #9cf;
  fill-opacity: 0.5;
}

.bollinger .line {
  stroke: #06c;
}

.envelope .area {
  fill: #9cf;
  fill-opacity: 0.5;
}

.envelope .line {
  stroke: #06c;
}

.bear .bar {
  stroke: red;
  fill: red;
  fill-opacity: 1.0;
}

.bull .bar {
  stroke: green;
  fill: green;
  fill-opacity: 1.0;
}

/* Annotations */
.annotation>line {
  fill-opacity: 0;
  stroke: #999;
  stroke-width: 1;
  stroke-dasharray: 3, 3;
}
.annotation .right-handle text,
.annotation .top-handle text {
  text-anchor: end;
}

.gridline {
  stroke: #ccc;
  stroke-width: 1.0;
}

.annotation .band {
  fill: black;
  opacity: 0.1;
}

.crosshair .point {
  stroke: #06c;
  fill: #9cf;
}
